#box{
	height:200px;
	width:400px;
	background-color:#dfb398;
	 
	 
}
#box2{
	 
	 margin: 150 0 0  510;
	 
	 
		 
}
#a{
	margin:-105 0 0 150;
}
#box3{
	  margin: 150 0 0  0;
	 background-color:#ecdfd7;
	 height:200px;
	 	width:100%;
	 
		 
}
#im{
	margin:40 0 0 9;
}